---
---

@import "{{ site.theme }}";
body {
    text-align: justify;
}
a {
    text-decoration: none;
    color: #707070;
}
a:hover {
    text-decoration: overline;
}
h1 {
    color: #358538;
}
footer {
    text-align: center;
}
