---
---

@import "{{ site.theme }}";
.page-header {
  background-image: url("img/BG.JPG");
  opacity: 0.9;
  }
body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #707070;
}
a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
}
