---
---

@import "{{ site.theme }}";
.page-header {
  background-color: #189649;
  opacity: 0.9;
}
body {
    text-align: justify;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #707070;
}
a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
}
