<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	  <title>Mélanie Thierry</title>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157825">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
	
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">Mélanie Thierry</h1>
      <h2 class="project-tagline">PhD student in community ecology</h2>
	    <p>
  <a href="/" style="color:white;">About</a> |
  <a href="/publi" style="color:white;">Publications</a> |
  <a href="/cv" style="color:white;">CV</a> |
  <a href="/contact" style="color:white;">Contact</a> |
	    </p>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
		      <p>
			      <a href="mailto:melanie.thierry34@gmail.com">e-mail</a> |
			      <a href="https://twitter.com/leptopilina">Twitter</a> |
			      <a href="https://www.researchgate.net/profile/Melanie_Thierry">Researchgate</a>
		      </p>
      </footer>
    </main>
  </body>
</html>
