<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/publi">Publications</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:melanie.thierry34@gmail.com">e-mail</a></li>
	        		<li><a href="https://twitter.com/leptopilina">Twitter</a></li>
				<li><a href="https://www.researchgate.net/profile/Melanie_Thierry">Researchgate</a></li>
				</ul>
			</footer>
		</body>
	</html>
