<!DOCTYPE html>
	<head>
		<title>Mélanie Thierry</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/css/style.scss">
	</head>
  <body>

    <div id="header_wrap" class="outer">
	    <header class="inner">
		    <h1 id="project_title">Mélanie Thierry</h1>
		    <h2 id="project_tagline">PhD student in community ecology</h2>

         
          <p style="text-align: left;">
  <a href="/">About</a> |
  <a href="/research">Research</a> |
  <a href="/publi">Publications</a> |
  <a href="/contact">Contact</a> |
		    </p>
	    </header>
	</div>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <div id="footer_wrap" class="outer">
	      <footer class="inner">
		      <ul>
		      <li><a href="mailto:melanie.thierry34@gmail.com">e-mail</a></li>
		      <li><a href="https://twitter.com/leptopilina">Twitter</a></li>
		      <li><a href="https://www.researchgate.net/profile/Melanie_Thierry">Researchgate</a></li>
		      </ul>
	      </footer>
	</div>
    </main>
  </body>
</html>
